[run]
source =
    orangecontrib/single_cell
omit =
    orangecontrib/single_cell/tutorials/*
    orangecontrib/single_cell/tests/*
    orangecontrib/single_cell/__init__.py
    orangecontrib/single_cell/__main__.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__

	# Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError


	# Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:
