include orangecontrib/single_cell/tutorials/*.ows
include orangecontrib/single_cell/widgets/icons/*
include orangecontrib/single_cell/datasets/*

include requirements.txt
include README.md
include LICENSE
